In [72]:
import numpy as np
import pandas as pd

# Simulando uma matriz de notas

notas = np.array([
    [7.5, 8.0, 9.0],   # aluno 1
    [6.0, 7.5, 8.5],   # aluno 2
    [9.0, 9.5, 10.0]   # aluno 3
])

alunos = ['JoÃ£o', 'Maria', 'Carlos']
provas = ['Prova 1', 'Prova 2', 'Prova 3']

df = pd.DataFrame(notas, index=alunos, columns=provas)
print(df)

        Prova 1  Prova 2  Prova 3
JoÃ£o        7.5      8.0      9.0
Maria       6.0      7.5      8.5
Carlos      9.0      9.5     10.0

In [74]:
import pandas as pd

# Criando o DataFrame diretamente
df = pd.DataFrame({
    'Prova 1': [7.5, 6.0, 9.0],
    'Prova 2': [8.0, 7.5, 9.5],
    'Prova 3': [9.0, 8.5, 10.0]
}, index=['JoÃ£o', 'Maria', 'Carlos'])

# Calculando a mÃ©dia
df['MÃ©dia'] = df.mean(axis=1)

# Destaque visual no Jupyter (nÃ£o precisa print!)
df_styled = df.style\
    .highlight_max(axis=0, color='lightgreen')\
    .highlight_max(axis=1, color='lightblue')\
    .format(precision=2)\
    .set_caption("ðŸ“Š Notas dos Alunos")

df_styled

In [78]:
info_motorista = ("Narciso", "27", "Porto")

print(f"{info_motorista[0]} tem {info_motorista[1]} anos e mora em {info_motorista[2]}")

Narciso tem 27 anos e mora em Porto

In [89]:
nome = input("Qual Ã© o seu nome? ")
idade = input("Qual sua idade?" )
cidade = input("Onde vocÃª mora? ")

info = (nome, idade, cidade)

print(f"{info[0]} tem {info[1]} anos e mora em {info[2]}")

Qual Ã© o seu nome?  5
Qual sua idade? Sim
Onde vocÃª mora?  5

5 tem Sim anos e mora em 5

In [95]:
motoristas = []

for i in range(3):
    print(f"\nMotorista {i+1}")
    nome = input("Qual Ã© o seu nome? ")
    idade = input("Qual sua idade? ")
    cidade = input("Onde vocÃª mora? ")
    
    info = (nome, idade, cidade)
    motoristas.append(info)

print("\nMotoristas registrados:")
for i, motorista in enumerate(motoristas, 1):
    print(f"{i}. {motorista[0]} tem {motorista[1]} anos e mora em {motorista[2]}.")

Motorista 1

Qual Ã© o seu nome?  Narciso
Qual sua idade?  27
Onde vocÃª mora?  Porto

Motorista 2

Qual Ã© o seu nome?  Guimas
Qual sua idade?  23
Onde vocÃª mora?  Porto

Motorista 3

Qual Ã© o seu nome?  Jp
Qual sua idade?  23
Onde vocÃª mora?  Porto

Motoristas registrados:
1. Narciso tem 27 anos e mora em Porto.
2. Guimas tem 23 anos e mora em Porto.
3. Jp tem 23 anos e mora em Porto.

In [116]:
import numpy as np

data = np.array([[1.5, -0.1, 3], [0, -3, 6.5]])

In [152]:
data.shape

(2, 3)

In [3]:
import pandas as pd 

dados = {
    "Entregador": ['Narciso', 'JoÃ£o Paulo', 'Lucas', 'Passoca', 'Guilherme'],
    "Distancia": [12.5, 8.3, 15.0, 6.2, 10.1],
    "Valor": [9.2, 6.5, 11, 4.8, 7.9]
}

df = pd.DataFrame(dados)

# Mostrando o DataFrame

print(df)

   Entregador  Distancia  Valor
0     Narciso       12.5    9.2
1  JoÃ£o Paulo        8.3    6.5
2       Lucas       15.0   11.0
3     Passoca        6.2    4.8
4   Guilherme       10.1    7.9

In [5]:
dados["Entregador"]

['Narciso', 'JoÃ£o Paulo', 'Lucas', 'Passoca', 'Guilherme']

In [7]:
dados["Distancia"]

[12.5, 8.3, 15.0, 6.2, 10.1]

In [9]:
dados["Valor"]

[9.2, 6.5, 11, 4.8, 7.9]

In [11]:
df[df["Valor"] > 8]

  Entregador  Distancia  Valor
0    Narciso       12.5    9.2
2      Lucas       15.0   11.0

In [13]:
df["Valor"].mean()

7.88

In [15]:
df[df["Valor"] > df["Valor"].mean()]

  Entregador  Distancia  Valor
0    Narciso       12.5    9.2
2      Lucas       15.0   11.0
4  Guilherme       10.1    7.9

In [17]:
df["Valor por km"] = df["Valor"] / df["Distancia"]
df

   Entregador  Distancia  Valor  Valor por km
0     Narciso       12.5    9.2      0.736000
1  JoÃ£o Paulo        8.3    6.5      0.783133
2       Lucas       15.0   11.0      0.733333
3     Passoca        6.2    4.8      0.774194
4   Guilherme       10.1    7.9      0.782178